# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production
/build
/dist

# SQLite database
*.sqlite
*.sqlite-journal
*.db
*.db-journal
*.db-shm
*.db-wal

# Environment variables
.env*.local
.env

# Debug / Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
next-env.d.ts

# OS files
.DS_Store
*.pem
Thumbs.db

# TypeScript cache
*.tsbuildinfo
